* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}


:root {
    --main-text-color: #8FFF00; 
    --secondary-text-color: #BEE38D;
    --main-bg-color: #D1A3B7;
}

body {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
}

.dark-mode {
    --main-text-color: #000; 
    --main-bg-color: #efefef; 
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
}


.dark-mode .container {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
}
  
  .dark-mode .container,
  .dark-mode .column-left,
  .dark-mode .column-mid,
  .dark-mode .row-1,
  .dark-mode .row-2,
  .dark-mode .row-3,
  .dark-mode .art,
  .dark-mode .box,
  .dark-mode .gallery-column-left-1,
  .dark-mode .gallery-column-middle-1,
  .dark-mode .gallery-column-right-1,
  .dark-mode .photo-1,
  .dark-mode .photo-2,
  .dark-mode .photo-3,
  .dark-mode .photo-4,
  .dark-mode .photo-5,
  .dark-mode .photo-6,
  .dark-mode .photo-7,
  .dark-mode .photo-8,
  .dark-mode .photo-9,
  .dark-mode .photo-10,
  .dark-mode .text-overlay,
  .dark-mode .text,
  .dark-mode .exhibitions,
  .dark-mode .contact,
  .dark-mode .address-column,
  .dark-mode .email-phone-column,
  .dark-mode .email-button,
  .dark-mode .phone-button,
  .dark-mode .column-right,
  .dark-mode .nav,
  .dark-mode .nav a,
  .dark-mode .contrast-button,
  .dark-mode .footer,
  .dark-mode .copyright-column,
  .dark-mode .back-to-top-column {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  }

  a {
    all: unset;
}

html {
    scroll-behavior: smooth;
    }

.dropdown-menu {
    position: fixed;
    width: 100%;
    display: none;
    justify-content: flex-end; 
    top: 52px;
    right: 0;
    background-color: #D1A3B7;
    box-shadow: 0px 20px 20px #9248683c;
    z-index: 9996;
}

.show {
    display: block;
}

.menu-button {
    position: fixed;
    width: 100%;
    display: none;
    cursor: pointer;
    background-color: #D1A3B7;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 18px;
    box-shadow: 0px 3px 3px #9248683c;
    z-index: 9997;
}


.dark-mode .menu-button {
    background-color: #efefef; /* Dark mode background color */
    box-shadow: 0px 3px 3px #0000004c; /* Dark mode box shadow color */
    color: #000; /* Dark mode text color */
}

.temp-logo {
    position: fixed;
    height: 42px;
    width: auto;
    top: 8px; /* Adjust as needed */
    left: 16px; /* Adjust as needed */
    z-index: 9999; /* Ensure it's above other content */
}

@media only screen and (min-width: 601px) {
    .temp-logo {
        display: none;
    }
}

        

.bar {
    width: 40px;
    height: 3px;
    margin: 0;
    background-color: #8FFF00;
    margin: 5px;
    margin-left: auto;
    }

.dark-mode .bar {
    background-color: #000000; /* Dark mode background color */
    }

@media only screen and (max-width: 600px) {
.menu-button {
    display: block;
    }

.nav-mobile {
    display: none;
    }

.nav-link-mobile {
    display: block;
    text-align: right;
    font-size: 1.8em;
    padding: 32px;
    border-top: 2px solid #bee38d44;
    background-color: #D1A3B7;
    }

.dark-mode .nav-link-mobile {
    background-color: #efefef; /* Dark mode background color */
    }

.nav-mobile a{
    color: #BEE38D;
    text-decoration: none;
    padding: 10px;
    display: block;
    }

.nav-mobile a:hover {
    color: #8FFF00;
    }

.nav-mobile a.active {
    color: #8FFF00;
    text-decoration: underline;
    }
    }

.container {
    display: flex;
    color: #8FFF00;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #D1A3B7;
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    }      

@media only screen and (max-width: 600px) {
.container {
    display: flex;
    color: #8FFF00;
    flex-direction: column;
    justify-content: space-between;
    width: 87%;
    height: auto;
    background-color: #D1A3B7;
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    }
    }
      

.column-left {
    height: 100vh;
    flex-direction: column;
    top: 0px;
    flex: 3%;
    overflow: visible;
    opacity: 0;
    transition: opacity 2s ease-in-out, height 2s ease-in-out 2s;
    
    }
    .column-left.show{
        opacity: 1;
    }

#logo {
    height: 980px;
    width: auto;
    position: fixed;
    top: 24px;
    left: 0px;
    z-index: 2; /* Adjust z-index as needed to ensure it's above all other elements */
    overflow: visible;
    }


.column-mid {
    display: flex;
    flex-direction: column;
    flex: 65%;
    height: fit-content;
    opacity: 1;
    }

    @media only screen and (min-width: 601px) and (max-width: 1024px) {
        .column-mid {
            flex: 60%;
            height: auto;
            padding-left: 32px;
        }
        }

.row-0 {
    display: flex;
    width: 70%;
    justify-content: left;
    align-items: left;
    color: #8FFF00;
    margin-top: 64px; /* Make sure the unit 'px' is included */
    margin-bottom: 0px;
    left: 0;
}

@media only screen and (max-width: 600px) {
    .row-0 {

        width: 40%;
        height: auto;
        justify-content: left;
        align-items: left;
        margin-top: 82px;
        padding: 0 8px;
        }
        }

        

#txt-logo {
    height: auto;
    width: 540px;
    justify-content: left;
    align-items: left;
    }
    @media only screen and (min-width: 601px) and (max-width: 1024px) {
        #txt-logo {
            content: url('icons/logo-520px.png');
            width: 320px;
        }
     }

     @media only screen and (max-width: 600px) {
        #txt-logo {
            width: 320px;
        }
    }

.row-1 {
    width: 100%;
    color: #BEE38D;
    opacity: 0;
    display: flex;
    text-align: left;
    margin-top: 64px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif; 
    font-size: 1.2em;
    transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out 0.5s;
    line-height: 2.8;
    }

.row-1.show {
    opacity: 1;
    }

    @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .row-1 {
            font-size: 1.1em;
            height: auto;
            margin-top: 32px;
            line-height: 1.8;

        }
        }

    @media only screen and (max-width: 600px) {
    .row-1 {
            font-size: 1em;
            margin-top: 32px;
            display: flex;
            justify-content: left;
            align-items: center;
            text-align: left;
            padding: 8px;
            line-height: 1.5;

        }
        }

.row-2 {
    width: 100%;
    display: flex;
    margin-top: 0;
    opacity: 0;
    margin-bottom: 42px;
    font-family: 'Roboto', sans-serif; 
    font-size: 2.2em;
    transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out 0.5s;
    line-height: 1.5;

    }

.row-2.show{
    opacity: 1;
    }

    @media only screen and (min-width: 601px) and (max-width: 1024px) {
        .row-2 {
                font-size: 1.8em;
                height: auto;
                line-height: 1.4;

            }
            }

    @media only screen and (max-width: 600px) {
        .row-2 {
                font-size: 1.5em;
                line-height: 1.3;
                display: flex;
                justify-content: left;
                align-items: left;
                text-align: left;
                padding: 8px;
            }
            }

.row-3 {
    width: 100%;
    display: flex;
    margin-top: 0;
    opacity: 0;
    margin-bottom: 42px;
    font-family: 'Roboto', sans-serif; 
    font-size: 2.2em;
    transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out 0.5s;
    line-height: 1.5;
    
    }
.row-3.show{
    opacity: 1;
    }

    @media only screen and (min-width: 601px) and (max-width: 1024px) {
        .row-3 {
                font-size: 1.8em;
                height: auto;
                line-height: 1.4;
            }
            }
            
    @media only screen and (max-width: 600px) {
   .row-3 {
               font-size: 1.5em;
               display: flex;
               justify-content: left;
               align-items: left;
               text-align: left;
               padding: 8px;
            }
            }

.art {
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 164px;
    padding-bottom: 164px;
    overflow: hidden;
    }


.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;;
    padding-top: 164px;
    padding-bottom: 164px;
    overflow: hidden;
}
  
.gallery-column-left-1,
.gallery-column-middle-1,
.gallery-column-right-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32.5%;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
.box {
    flex-direction: column; /* Change to vertical layout */
    align-items: center;
    padding-top: 42px;
    padding-bottom: 42px; /* Center items horizontally */
    }
    
.gallery-column-left-1,
.gallery-column-middle-1,
.gallery-column-right-1 {
    width: 100%; 
    height: auto; 
    overflow: hidden;
    }
    }
    
.gallery-column-left-1 img,
.gallery-column-middle-1 img,
.gallery-column-right-1 img {
    width: 100%; 
    height: auto; 
    max-width: 100%; 
    max-height: auto; 
    position: relative;
    margin-bottom: 12px;
    overflow: hidden;
    transition: transform 0.15s ease-in;
    }

.photo-1,
.photo-2,
.photo-3,
.photo-4,
.photo-5,
.photo-6,
.photo-7,
.photo-8,
.photo-9,
.photo-10,
.photo-11,
.photo-12,
.photo-13,
.photo-14,
.photo-15,
.photo-16,
.photo-17,
.photo-18,
.photo-19,
.photo-20,
.photo-21,
.photo-27,
.photo-28,
.photo-29,
.photo-22,
.photo-30 {
    position: relative;
    cursor: url('icons/enlarge-icon.svg'), auto;
}

.photo-1 img,
.photo-2 img,
.photo-3 img,
.photo-4 img,
.photo-5 img,
.photo-6 img,
.photo-7 img,
.photo-8 img,
.photo-9 img,
.photo-10 img,
.photo-11 img,
.photo-12 img,
.photo-13 img,
.photo-14 img,
.photo-15 img,
.photo-16 img,
.photo-17 img,
.photo-18 img,
.photo-19 img,
.photo-20 img,
.photo-21 img,
.photo-27 img,
.photo-28 img,
.photo-29 img,
.photo-22 img,
.photo-30 {
    width: 100%; 
    height: auto; 
    max-width: 100%; 
    max-height: auto; 
    position: relative;
}

.photo-1:hover img,
.photo-2:hover img,
.photo-3:hover img,
.photo-4:hover img,
.photo-5:hover img,
.photo-6:hover img,
.photo-7:hover img,
.photo-8:hover img,
.photo-9:hover img,
.photo-10:hover img,
.photo-11:hover img,
.photo-12:hover img,
.photo-13:hover img,
.photo-14:hover img,
.photo-15:hover img,
.photo-16:hover img,
.photo-17:hover img,
.photo-18:hover img,
.photo-19:hover img,
.photo-20:hover img,
.photo-21:hover img,
.photo-27:hover img,
.photo-28:hover img,
.photo-29:hover img,
.photo-22:hover img,
.photo-30:hover img {
    transform: scale(1.0125); 
}

.text-overlay {
    position: relative;
    width: 100%;
    height: 20px;
    font-size: 0.8em;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0s;
    z-index: 1;
}


.photo-1:hover .text-overlay,
.photo-2:hover .text-overlay,
.photo-3:hover .text-overlay,
.photo-4:hover .text-overlay,
.photo-5:hover .text-overlay,
.photo-6:hover .text-overlay,
.photo-7:hover .text-overlay,
.photo-8:hover .text-overlay,
.photo-9:hover .text-overlay,
.photo-10:hover .text-overlay,
.photo-11:hover .text-overlay,
.photo-12:hover .text-overlay,
.photo-13:hover .text-overlay,
.photo-14:hover .text-overlay,
.photo-15:hover .text-overlay,
.photo-16:hover .text-overlay,
.photo-17:hover .text-overlay,
.photo-18:hover .text-overlay,
.photo-19:hover .text-overlay,
.photo-20:hover .text-overlay,
.photo-21:hover .text-overlay,
.photo-22:hover .text-overlay,
.photo-28:hover .text-overlay,
.photo-29:hover .text-overlay,
.photo-27:hover .text-overlay,
.photo-30:hover .text-overlay {
    opacity: 1;
    transition-delay: 0s;
}

.text {
    position: absolute;
    width: 100%;
    align-items: flex-end;
    height: 32px;
    bottom: 1px;
    left: 0;
    padding: 0px 12px 0px 8px; /* Adjusted padding for consistency */
    background-color: #0000004f;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);  
    color: #efefef; 
    display: flex; /* Ensures inline alignment of text and icon */
    align-items: center; /* Aligns icon with text vertically */
    gap: 5px; /* Adds some space between the icon and the text */
    transition: opacity 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out;
    margin-bottom: 13px;
}
.camera-icon {
    padding: 0;
    width: auto; /* Set the width of the camera icon */
    height: 50%; /* Maintain the aspect ratio */
    vertical-align: middle; /* Align the icon vertically */
}
.icon img {
    width: 85%;
    height: auto;
    margin-top: 10px; /* Move the icon down by 8px */
}

@media only screen and (max-width: 600px) {
    .text-overlay {
        opacity: 1; /* Always visible on mobile */
        transition: none; /* No transition on mobile */
    }
    

    .photo-1:hover .text-overlay,
    .photo-2:hover .text-overlay,
    .photo-3:hover .text-overlay,
    .photo-4:hover .text-overlay,
    .photo-5:hover .text-overlay,
    .photo-6:hover .text-overlay,
    .photo-7:hover .text-overlay,
    .photo-8:hover .text-overlay,
    .photo-9:hover .text-overlay,
    .photo-10:hover .text-overlay,
    .photo-11:hover .text-overlay,
    .photo-12:hover .text-overlay,
    .photo-13:hover .text-overlay,
    .photo-14:hover .text-overlay,
    .photo-15:hover .text-overlay,
    .photo-16:hover .text-overlay,
    .photo-17:hover .text-overlay,
    .photo-18:hover .text-overlay,
    .photo-19:hover .text-overlay,
    .photo-20:hover .text-overlay,
    .photo-21:hover .text-overlay,
    .photo-22:hover .text-overlay,
    .photo-28:hover .text-overlay,
    .photo-29:hover .text-overlay,
    .photo-27:hover .text-overlay,
    .photo-30:hover .text-overlay {
        opacity: 1; /* Always visible on mobile */
        transition: none; /* No transition on mobile */
    }
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: opacity 0.3s ease;
}

.modal-container.show {
    display: block; /* Show the modal */
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);    
    cursor: url('icons/close-icon.svg'), auto;
}
.dark-mode .modal-background {
    background-color: rgb(255, 255, 255);
    cursor: url('icons/close-icon-dak.svg'), auto;
}

.vimeo-button {
    position: absolute;
    top: 0px;
    right: 8px;
    cursor: pointer;
    z-index: 1; /* Ensure the button appears above the modal image */
}

.vimeo-button a {
    position: relative; /* Ensure pseudo-element is positioned relative to the link */
}

.vimeo-button a:hover::after {
    content: ''; /* Create the pseudo-element */
    position: absolute;
    left: 0;
    bottom: 12px; /* Adjust the position to align with the bottom of the link */
    width: 100%;
    height: 2px; /* Adjust the height as needed */
    background-color: #8FFF00; /* Set the color of the underline */
}

.vimeo-button-modal {
    position: absolute;
    top: 8px; /* Adjust top positioning */
    right: 8px; /* Adjust right positioning */
    z-index: 1; /* Ensure the button appears above the modal image */
}

.vimeo-button-modal a {
    display: block; /* Make the link occupy the entire button area */
}

.vimeo-button-modal a:hover::after {
    content: ''; /* Create the pseudo-element */
    position: absolute;
    left: 0;
    bottom: 0px; /* Adjust the position to align with the bottom of the link */
    width: 100%;
    height: 2px; /* Adjust the height as needed */
    background-color: #8FFF00; /* Set the color of the underline */
}

.modal-content {
    position: absolute;
    color: #efefef; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; /* Adjust if necessary */
    max-height: 100vh; /* Adjust if necessary */
    display: flex;
    flex-direction: column; /* Ensure the description appears below the image */
    overflow: visible; /* Changed from auto to hidden to prevent scrollbars */
}

.modal-content img {
    max-width: 100%;
    max-height: 90vh; /* Ensure the image does not exceed the viewport height */
    object-fit: contain; /* Maintain aspect ratio */
    box-shadow: 0px 10px 50px rgba(0, 0, 0, .5);
    
}
.dark-mode .modal-content img {
    box-shadow: 0px 10px 50px rgba(255, 255, 255, 0.5); /* White text color for dark mode */
}


.modal-description {
    display: flex; /* Ensure flex layout for alignment */
    align-items: center; /* Align items vertically */
    justify-content: flex-start; /* Align items to the start of the container */
    text-align: left; /* Align text to the left */
}

.dark-mode .modal-description {
    color: #fff; /* White text color for dark mode */
}

@media only screen and (max-width: 600px) {
    .modal-container,
    .modal-content,
    .modal-content img,
    .modal-background {
    display: none;
    }
    }

.exhibitions {
        font-family: 'Roboto', sans-serif; 
        padding-top: 64px;
        padding-bottom: 128px;
        font-size: 1.4em;
        line-height: 1.5;;
    }
    
    .light-green-text {
        color: #8FFF00; /* Default text color for light green */
    }
    
    .light-yellow-text {
        color: #BEE38D; /* Default text color for light yellow */
    }
    
    /* Dark mode styles */
    .dark-mode .light-green-text {
        color: #000000; /* Text color for light green in dark mode */
    }
    
    .dark-mode .light-yellow-text {
        color: #808080; /* Text color for light yellow in dark mode */
    }

    @media only screen and (min-width: 601px) and (max-width: 1024px) {
        .exhibitions {
            font-size: 1.1em;
            display: flex;
            justify-content: left;
            align-items: center;
            text-align: left;
            padding: 8px;
            line-height: 1.5;
            }
            }
            
    @media only screen and (max-width: 600px) {
        .exhibitions {
            font-size: 0.9em;
            display: flex;
            justify-content: left;
            align-items: center;
            text-align: left;
            padding: 8px;
            line-height: 1.5;
        }
    }

.contact {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center;
    height: 90vh;
    text-align: left;
    font-family: 'Roboto', sans-serif; 
    font-size: 1.9em;
    line-height: 1.5;
    letter-spacing: -0.3px;
    }


.address-column,
.email-column {  
    width: 50%;
    flex-direction: column;
    height: 136px;
    }  

.copy-button {
    color: #BEE38D;
    font-size: 1em;
    background-color: #00000000;
    border: none;
    display: block;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
    text-decoration: underline;
    cursor: pointer;
    }
     
.copy-button :hover {
    color: #8FFF00;
    text-decoration: underline;
    }

.dark-mode .copy-button {
    color: #808080; /* Text color for light yellow in dark mode */
    text-decoration: underline;
    }

.dark-mode .copy-button :hover {
    color: #000000;
    text-decoration: underline;
    }

@media only screen and (max-width: 1024px) {
    .contact {
    flex-direction: column; /* Change to vertical layout */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text */
    height: auto;
    padding: 8px; /* Adjust height as needed */
    }
        
.address-column,
.email-column {
    width: 100%; /* Occupy full width */
    height: auto;
    padding-top: 128px;
    padding-bottom: 24px;
    font-size: 0.8em;
    text-align: left; /* Adjust height as needed */
    }
      
.copy-button {
    padding-right: 0; /* Remove right padding */
    padding-top: 24px;
    padding-bottom: 30vh; /* Add some space between buttons */
    }
    }


.column-right {
    display: flex;
    text-align: right;
    flex-direction: column;
    flex: 12%;
    justify-content: space-between;
    height: 100vh;
    padding-top: 110px;
    padding-bottom: 24px;
    }

    @media only screen and (min-width: 601px) and (max-width: 1024px) {
        .column-right {
            flex: 12%;
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }
    
    @media only screen and (max-width: 1024px) {
        .column-left {
        display: none;
        }
        }

.nav { 
    position: fixed;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    top: 42px;
    right: 82px;
    cursor: pointer;
    }

.nav a{
    color: #BEE38D;
    text-decoration: none;
    padding: 20px;
    display: block;
    }

.nav a:hover {
    color: #8FFF00;
    }

.nav a.active {
    color: #8FFF00;
    text-decoration: underline;
    }

.dark-mode .nav a {
    color: #808080; /* Change text color for navigation links in dark mode */
    }
    
.dark-mode .nav a:hover {
    color: #000000; /* Change hover color for navigation links in dark mode */
    }
    
.dark-mode .nav a.active {
    color: #000000; /* Change active link color in dark mode */
    }
    
.contrast-button {
    position: fixed;
    align-self: flex-end;
    margin-top: auto;
    bottom: 42px;
    right: 102px;
    border: none; 
    font-size: 1.2em;
    background-color: transparent;
    cursor: pointer;
    }
    @media only screen and (min-width: 601px) and (max-width: 1024px) {
        .contrast-button {
            right: 62px;
            bottom: 24px;
        }
         }

.contrast-button img {
    width: 32px;
    height: auto;
    color: #BEE38D;
    transition: transform 0.35s ease-in-out; 
    }

    @media only screen and (min-width: 601px) and (max-width: 1024px) {
        .contrast-button img{
            width: 24px;
            height: auto;
        }
        }

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .nav{
        top: 12px;
        font-size: 1.2em;
        padding: 10px;
        right: 42px;
    }
}

@media only screen and (max-width: 1024px) {
    .column-left {
    display: none;
    }
    }

@media only screen and (max-width: 600px) {
    .nav,
    .column-left,
    .column-right {
    display: none;
    }
    }

.column-banner {
    height: 2200vh;
    position: fixed;
    right: 0;
    overflow: visible;
    text-align: center;
    color: var(--main-text-color);
    opacity: 1;
    z-index: 9995;
    }
    
    .vertical-text {
        height: fit-content;
        width: 80px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-size: 24px;
        line-height: 1.5; /* Corrected line-height value */
        margin: 0;
        padding: 26px; /* Adjusted padding */
        display: inline-block;
        animation: moveText 25s linear infinite;
    }

@keyframes moveText {
    0% {
    transform: translate3d(0%, 70%, 0) scale3d(1, 1, 1) /* Starting position at the bottom */
    }
    100% {
    transform: translate3d(0%, -100%, 0) scale3d(1, 1, 1)  /* Ending position at the top */
    }
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
        .vertical-text {
            padding-right: 28px; /* Safari-specific padding */
            }
            } 

    @media only screen and (min-width: 601px) and (max-width: 1024px) {
        .vertical-text {
            height: fit-content;
            writing-mode: vertical-rl;
            align-items: center;
            justify-content: center;
            text-orientation: mixed; 
            font-size: 21px; 
            line-height: 1.2; 
            margin: 0 auto; 
            padding-bottom: 12px;
            display: inline-block; 
            animation: moveText 25s linear infinite; 
            }
                }
    @media only screen and (max-width: 600px) {
        .vertical-text {
            height: fit-content;
            writing-mode: vertical-rl;
            align-items: center;
            justify-content: center;
            text-orientation: mixed; 
            font-size: 18px; 
            line-height: 1.5; 
            margin: 0 auto; 
            padding-bottom: 12px;
            display: inline-block; 
            animation: moveText 25s linear infinite; 
            }
         }
    

    .button-link {
        text-decoration: none;
        cursor: pointer;
        color: inherit; 
      }
      
      .button-link:hover {
        text-decoration: underline; 
      }
      
      .button-text {
        margin: 0; 
    }

      
.footer {
    display: flex;
    height: 10%;
    padding-top: 64px;
    padding-bottom: 54px;
    text-align: left;
    font-family: 'Roboto', sans-serif; 
    font-size: 1.2em;
    line-height: 1.5;
    }

.copyright-column {  
    width: 50%;
    flex-direction: column;
    height: fit-content;
    color: #BEE38D;
    }

.dark-mode .copyright-column {
    color: #808080; 
    }

.back-to-top-column {
    display: block;
    text-align: left;
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
    color: #BEE38D;
    transition: transform 0.35s ease-in-out;
    text-decoration: underline;
    cursor: pointer;
    }

.back-to-top-column :hover {
    color: #8FFF00;
    text-decoration: underline;
    }

.dark-mode .back-to-top-column {
    color: #808080; 
    text-decoration: underline;
    }

.dark-mode .back-to-top-column :hover{
    color: #000; 
    text-decoration: underline;
    }

@media only screen and (max-width: 1024px) {
.footer {
    display: flex;
    height: 10%;
    padding: 8px;
    padding-bottom: 52px;
    text-align: left;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif; 
    font-size: 1em;
    line-height: 1.5;
    }
}

          
